@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-golden-sand text-golden-charcoal font-body leading-relaxed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    @apply bg-golden-gold/20 text-golden-charcoal;
  }
}

@layer utilities {
  .text-shadow-sm {
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}
